*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body{
  font-size: 4vw; /*taille de font pour les appareils mobiles d etype smartphone*/
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

footer{
  width: 100%;
  border-top: 1px solid #D3D3D3;
  margin-top: 5%;
}

footer p{
  text-align: center;
  padding: 1% 0;
  color:#D3D3D3;
}


header{
  height: 100vh;
}

header h1{
  padding-top: 28vh;
}
header img{
  display: block;
  width:70%;
  margin:15% auto 0;
  margin
}

nav{
  display: block;
  width:18.75rem;
  margin:0 auto 50vh;
}

nav ul li{
text-align: center;
text-decoration: none;
margin-bottom: 8%;
}

nav ul{
list-style: none;
}

aside{
  height: fit-content;
  background-color:#ffebee;
  border-radius:20px;
}

.sous_block ul li{
  margin-top: 8%;
}






#main{
  width:100%;
}


.header, .block, .sous_block{
border: 1px solid;
}

.header{
border-color:transparent;
}

.block{
border-color:transparent;
margin:1.5rem 0rem 3.5rem;
}

.sous_block{
border-color:transparent;
margin:2.5rem 0rem 1.5rem;
padding:0 5%;
}



h1,h2, h3{
  text-align: center;
}

h1{
  color:#585858;
}

h2{
  color:#ef9a9a;
}

h3{
  margin-bottom: 1rem;
  color:#ffcdd2;
}

p, li, a{
  text-align: justify;
  line-height: 1.8rem;
  color:#616161;
}

li{
  margin-left: 5%;
}

a{
  font-weight: 600;
  text-decoration: none;
  color:#424242;
}






@media screen and (min-width:768px) and (max-width:1023px){
  body{
    font-size: 16px;
  }

    #main{
      width:48rem; display: block; margin:0 auto;
      border:1px solid transparent;
    }
}





@media screen and (min-width:1024px){
  body{
    background-color: #fff;
    font-size: 16px;
  }


  #main{
  width: 62.5rem; display: block; margin:0 auto;
    border:1px solid transparent;
    background-color: #fff;
  }

  article{
    width: 43.75rem;
  }

  aside{
    width: 18.75rem;
    height: fit-content;
  }

  .wrapper{
    display:flex;
  }

  header img{
    margin-top:5%;
  }



}
